ul {
  list-style-type: none;
  padding: 0;
}

/* ul  */
li {
  width: 600px;
  border: 1px solid red;
  padding: 10px;
  margin: 20px auto;
  background-color: rgb(236, 236, 236);
}

@media screen and (max-width: 599px) {
  ul li {
    width: 200px;
  }
}
